@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-regular {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
/* shared styles */
.display-flex{
    display: flex;
}
.black{
    color: #111111;
}
.orange{
    color: #FEA301;
}
.sky-blue{
    color: #01ACFD;
}
/* header styles */
.brand-name-title{
    align-items: center;
}
/* .border{
    border: 0.5px;
    border-style: inset;
    border-color: #FEA301;
} */
/* navbar related style */
.navbar{
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 140px;
}
.brand-title{
    width: 62px;
    height: 62px;
}
.brand-name{
    width: 129px;
    height: 30px;
    font-weight: bold;
    font-size: 2rem;
}
.nav-item{
    list-style: none;
    margin-right: 32px;
}
.nav-link{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}
.home{
    font-weight: bold;
}
.Facilities{
    color: #05D4DF;
}
.Admission{
    color: #5D58EF;
}
.contact-btn{
    width: 197px;
    height: 50px;
    padding: 10px;
    border-radius: 12px;
    border: none;
    background-color: #FEA301;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.2rem;
}
/* bannar related style */
.banner{
    max-width: 1440px;
    height: 575px;
    margin: 0 140px;
    justify-content: space-between;
    align-items: center;
}
.banner-contant{
    max-width: 640px;
}
.banner-title{
    font-size: 3.5rem;
    font-weight: bold;
}
.banner-description{
    font-size: 1.2rem;
}
.banner-img{
    width: 100%;
}
.banner-btn{
    width: 197px;
    height: 50px;
    padding: 10px;
    border-radius: 12px;
    border: none;
    background-color: #111111;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
}
/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, .nav-link, .banner {
        flex-direction: column;
    }
}