@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-regular {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
/* shared styles */
.display-flex{
    display: flex;
}
.black{
    color: #111111;
}
.orange{
    color: #FEA301;
}
.sky-blue{
    color: #01ACFD;
}
.purple{
    color: #8700FF;
}
/* header styles */
.brand-name-title{
    align-items: center;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
.bg-card-1{
    background: linear-gradient(rgba(222, 245, 255, 1),rgba(255, 255, 255, 1));
}
.bg-card-2{
    background: linear-gradient(rgba(255, 244, 220, 1),rgba(255, 255, 255, 1));
}
.bg-card-3{
    background: linear-gradient(rgba(242, 232, 255, 1),rgba(255, 255, 255, 1));
}
.text{
    font-size: 0.9rem;
    font-weight: bold;
    color: #000000;
    margin: 20px;
}
.text1{
    color: #ffffff;
}
/* .border{
    border: 0.5px;
    border-style: inset;
    border-color: #FEA301;
} */
/* navbar related style */
.navbar{
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 140px;
}
.brand-title{
    width: 62px;
    height: 62px;
}
.brand-name{
    width: 129px;
    height: 30px;
    font-weight: bold;
    font-size: 2rem;
}
.nav-item{
    list-style: none;
    margin-right: 32px;
}
.nav-link{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}
.home{
    font-weight: bold;
}
.Facilities{
    color: #05D4DF;
}
.Admission{
    color: #5D58EF;
}
.contact-btn{
    width: 197px;
    height: 50px;
    padding: 10px;
    border-radius: 12px;
    border: none;
    background-color: #FEA301;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.2rem;
}
/* bannar related style */
.banner{
    max-width: 1440px;
    height: 575px;
    margin: 0 140px;
    justify-content: space-between;
    align-items: center;
}
.banner-contant{
    max-width: 640px;
}
.banner-title{
    font-size: 3.5rem;
    font-weight: bold;
}
.banner-description{
    font-size: 1.2rem;
}
.banner-img{
    width: 100%;
}
.banner-btn{
    width: 197px;
    height: 50px;
    padding: 10px;
    border-radius: 12px;
    border: none;
    background-color: #111111;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
}
/* contaner boxs */
.contaner{
    background-image: url("/images/bg.png");
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;
    max-width: 1440px;
}
.contaner-header{
    font-size: 2.875rem;
    font-weight: bold;
    justify-content: center;
}
.contaner-box{
    margin: 0 140px;
    gap: 29px;
}
.contaner-box-bar{
    width: 367.8px;
    height: 476.78px;
    border-radius: 18.86px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 50px auto;
}
.contaner-box-bar-img{
    width: 130.7px;
    margin-top: 50px;
}
.contaner-box-h3{
    font-weight: bold;
    font-size: 1.5325rem;
    color: #202020;
}
.contaner-box-p{
    font-weight: 500;
    font-size: 0.9rem;
    color: #808080;
}
.contaner-box-btn{
    width: 102.92px;
    height: 28.3px;
    text-decoration: none;
    cursor: pointer;
}
/* our stories styles */
.our-story{
    background: linear-gradient(rgba(255, 255, 255, 1),rgba(254, 163, 1, 1));
    background-size: cover;
    background-position: center;
    max-width: 1440px;
}
.our-story-card{
    padding-left: 140px;
}
.our-story-card1{
    max-width: 540.2px;
    height: 630.52px;
    background-color: #ffffff;
    border-radius: 16px;
}
.our-story-card1-img{
    width: 100%;
    border-radius:  16px 16px 0px 0px;
}
.our-story-h3{
    font-weight: bold;
    font-size: 1.5rem;
    color: #000000;
    margin: 50px 60px ;
    text-align: left;
}
.our-story-p{
    font-weight: 500;
    font-size: 0.9rem;
    color: #666666;
    margin: 50px 60px ;
    text-align: left;
}
.card{
    width: 290.69px;
    height: 301.61px;
    border-radius: 16px;
    background-color: #ffffff;
}
.card-img{
    width: 100%;
    border-radius: 16px 16px 0px 0px;
}
.our-story-card2{
    margin-left: 20px;
    display: grid;
    grid-template-columns: 300px 0px;
    gap: 20px;
}
/* footer */
.bg-footer{
    background-color: #01ACFD;
    background-size: cover;
    max-width: 1440px ;
}
.logo-footer{
    width: 82.9px;
    height: 81px;
}
.footer-header{
    font-size: 2.625rem;
    font-weight: bold;
    width: 206.11px;
    height: 80px;
}
.footer-p{
    font-size: 1.2rem;
    width: 400px;
    height: 100px;
    margin-top: 35px;
}
.footer-header1{
    font-size: 2.5rem;
    font-weight: bold;
}
.text-footer-li{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    color: #ffffff;
}
.footer-header2{
    font-size: 1.6rem;
    font-weight: bold;
}
.footer-media-logo{
    width: 40px;
    height: 40px;
    border-radius: 4px;
}
.footer-box{
    justify-content: space-around;
    align-items: center;
    padding: 140px;
}
.logo-header{
    align-items: center;
}
.footer-list{
    list-style-type: none;
}
.button-view{
    display: grid;
    justify-content: center;
    align-items: center;
}
.view-all{
    width: 197px;
    height: 50px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 12px;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px;
    margin: 100px 50%;
    border: none;
}
/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, .nav-link, .banner , .our-story , .contaner ,.footer-box{
        flex-direction: column;
    }
    .contaner-box{
        margin: 0 auto;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(1 ,1f);
    }
}